*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */
}

body
{
    overflow-x: hidden;
}

.custom-img{
    max-width: 200px;
    width: 30%;
    
}

.row{
  margin-right: 0;
  margin-left: 0;
}

.dark{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: x-large;
   
}

.dark:hover{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: x-large;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.5s;
}